body > section >  ul 
{
    @import (multiple) "./vars/colors.less";
    padding-left: 0;
    div
    {
        vertical-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 280px;
        li 
        {
            cursor: pointer;
            display: inline-block;
            width: 80%;
            input[type="checkbox"]
            {
                cursor: pointer;
                height: 20px;
                width: 20px;
            }

            label
            {
                margin-left: 8px;
                font: 21px bold;
                
            }
        }

       /* button 
        { 
            display: inline-block;
            color: white;
            background-color: #000;
            border-radius: 0.5rem;
            width: 15%;
            height: 20px;
            margin-right: 0;
            right: 0;
            cursor: pointer;
            
        }*/
        
        button 
        { 
            color: @clr-alt;
            background-color: @clr-main;
            cursor: pointer;
            
            border: 0.125rem solid darken(@clr-main, 10%);
            display: inline-block;

            width: 15%;
            height: 20px;
            margin-right: 0;
            right: 0;
        }
        [aria-pressed] 
        {
            position: relative;
            top: -0.25rem;
            left: -0.25rem;
        }
        [aria-pressed="true"]
        {
            background-color: darken(@clr-main, 20%);
        }
        }
}

